.container{
    margin-bottom: 100px;
}
.orange-bg{
    background-color: #fceae8;
    border-radius: 10px;
}
.carousel-item{
    padding: 20px 40px;
}
.price{
    color: #ff136f;
}
.buy-now-button{
    background-image: linear-gradient(to bottom, #FF589B 0%, #FF136F 100%);
    color: white;
    border: none;
    border-radius: 8px;
    padding: 9px 25px;
    cursor: pointer;
}
.cat1, .cat2, .cat3{
    padding: 10px 30px;
    border-radius: 10px;
    margin: 10px;
}
.cat1{
    background-image: linear-gradient(to left, #FF589B 0%, #FF136F 100%);
}
.cat2{
    background-image: linear-gradient(to left, #ffd413 0%, #ffa958 100%);
}
.cat3{
    background-image: linear-gradient(to left, #1892f5 0%, #132bff 100%);
}
.category h1{
    color: white;
}
.category img{
    width: 100px;
}
.card{
    border: none;
    box-shadow: 5px 5px 10px lightgray;
}
#sub{
    height: 200px;
    width: 95%;
    box-shadow: 5px 5px 10px lightgray;
    
}
#sub h6{
    color: gray;
}
#sub button{
    margin-top: 5px;
}
footer{
    font-weight: 500;
    display: flex;
    justify-content: center;
}